@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')
layer(base);

@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin 'daisyui' {
  prefix: daisy-;
};

@theme {
  --font-sans: 'Nunito', sans-serif;
  /* --shadow-base:  */
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f5ae45;
  --color-secondary: #f7d788;
  --color-accent: #b13737;
  --color-base-100: #f4efed;
  --color-neutral: #22222a;
  --font-family: 'Courier New', monospace;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #ff9a2e;
  --color-secondary: #ffe6c7;
  --color-accent: #db5451;
  --color-base-100: #141315;
  --color-neutral: #f9e1f1;
  --font-family: 'Courier New', monospace;
}