---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import SectionProjects from '../components/SectionProjects.astro';
import SectionExperience from '../components/SectionExperience.astro';	
import GardenCard from '../components/GardenCard.astro';
import SectionWriteups from '../components/SectionWriteups.astro';
import Section from '../layouts/Section.astro';
---

<Layout>
  <main class="relative h-full max-w-7xl p-8 max-sm:py-16 md:min-h-screen md:p-16">
	
		<Navbar />
		
		<div class="slide-enter ease-in flex place-content-between ">
			<div class="daisy-avatar w-48 h-48 rounded-box shadow-[6px_6px_0_0_var(--color-primary)]">
				<div class="rounded-box">
					<img src="/images/icon.svg" />
				</div>
			</div>
			<div class="daisy-card">
				<div class="daisy-card-body">
					<h1 class="daisy-card-title leading-tight font-heading font-extrabold text-4xl bg-linear-to-r from-primary to-accent bg-clip-text text-transparent">Arthur Schevey</h1>
					<p class="text-base">A security-focused software developer with a focus on learning fast, iterating often, and building tools that are useful. My strengths lie in building beautiful frontends, developing secure systems, and creating educational resources—documentation, playgrounds, and tools—grounded in learning-theory.</p>
					
				</div>
			</div>

			<GardenCard />
		</div>

		<SectionProjects />
		<SectionExperience />
		<SectionWriteups />


		<div class="daisy-divider"/>
		<Section>
			<div class="flex justify-center items-center w-full h-160">
				<img class="w-20 animate-bounce cursor-help" src="/images/magic-book.png" />
			</div>
		</Section>
		<div class="daisy-divider"/>


  </main>
</Layout>

<style is:global>
	* {
	  scrollbar-color: var(--color-button-muted) var(--color-fill);
	}
  
	@page {
	  size: auto;
	  margin: 0mm;
	}
	main {
	  margin: auto;
	  width: 100%;
	}
  
	@keyframes slide-enter {
	  0% {
		transform: translateY(10px);
		opacity: 0;
	  }
  
	  to {
		transform: translateY(0);
		opacity: 1;
	  }
	}
  
	@media (prefers-reduced-motion: no-preference) {
	  .slide-enter,
	  .slide-enter-content > *:not(:has(.table-of-contents)) {
		--enter-stage: 0;
		--enter-step: 400ms;
		--enter-initial: 0ms;
		animation: slide-enter 1s both 1;
		animation-delay: calc(
		  var(--enter-initial) + var(--enter-stage) * var(--enter-step)
		);
	  }
  
	  .slide-enter-content > *:nth-child(1) {
		--enter-stage: 1 !important;
	  }
	  .slide-enter-content > *:nth-child(2) {
		--enter-stage: 2 !important;
	  }
	  .slide-enter-content > *:nth-child(3) {
		--enter-stage: 3 !important;
	  }
	  .slide-enter-content > *:nth-child(4) {
		--enter-stage: 4 !important;
	  }
	  .slide-enter-content > *:nth-child(5) {
		--enter-stage: 5 !important;
	  }
	  .slide-enter-content > *:nth-child(6) {
		--enter-stage: 6 !important;
	  }
	  .slide-enter-content > *:nth-child(7) {
		--enter-stage: 7 !important;
	  }
	  .slide-enter-content > *:nth-child(8) {
		--enter-stage: 8 !important;
	  }
	  .slide-enter-content > *:nth-child(9) {
		--enter-stage: 9 !important;
	  }
	  .slide-enter-content > *:nth-child(10) {
		--enter-stage: 10 !important;
	  }
	  .slide-enter-content > *:nth-child(11) {
		--enter-stage: 11 !important;
	  }
	  .slide-enter-content > *:nth-child(12) {
		--enter-stage: 12 !important;
	  }
	  .slide-enter-content > *:nth-child(13) {
		--enter-stage: 13 !important;
	  }
	  .slide-enter-content > *:nth-child(14) {
		--enter-stage: 14 !important;
	  }
	  .slide-enter-content > *:nth-child(15) {
		--enter-stage: 15 !important;
	  }
	  .slide-enter-content > *:nth-child(16) {
		--enter-stage: 16 !important;
	  }
	  .slide-enter-content > *:nth-child(17) {
		--enter-stage: 17 !important;
	  }
	  .slide-enter-content > *:nth-child(18) {
		--enter-stage: 18 !important;
	  }
	  .slide-enter-content > *:nth-child(19) {
		--enter-stage: 19 !important;
	  }
	  .slide-enter-content > *:nth-child(20) {
		--enter-stage: 20 !important;
	  }
	}
  </style>