<div class="daisy-card daisy-image-full">
  <figure >
    <img
      src="/images/garden.jpg"
      alt="Flowers through frosted window" />
  </figure>
  <div class="daisy-card-body w-80">
    <h2 class="daisy-card-title">Want to find out what a digital garden is?</h2>
    <em>Take a look at mine!</em>
    <p></p>
    <div class="daisy-card-actions justify-end">
      <a href="https://garden.arthurs.dev/" class="daisy-btn daisy-btn-success">Visit</a>
    </div>
  </div>
</div>