---
import Section from "../layouts/Section.astro";
import { writeups } from '../content/writeups';
---

<Section title="Writeups">
  <div class="daisy-mockup-browser border-base-300 border w-full">
    <div class="daisy-mockup-browser-toolbar">
      <div class="daisy-input">https://garden.arthurs.dev/</div>
    </div>
    <ul class="daisy-list bg-base-100 rounded-box shadow-md">
            
      {
        writeups.map((entry) => (
          <li class="daisy-list-row">
            <a class="daisy-list-col-grow text-primary font-bold text-lg" href={entry.link}>
              {entry.title}
            </a>
            <div>
              {entry.date}
            </div>
          </li>
        ))
      }

    </ul>
  </div>

</Section>