---
import '../styles/globals.css'
---

<!doctype html>
<html data-theme="dark" lang="en">
	<head>

		<script is:inline>
			// This script prevents the FART effect.
			if (localStorage.getItem("theme") === null) {
				document.documentElement.setAttribute("data-theme", "light");
			} else
				document.documentElement.setAttribute(
				"data-theme",
				localStorage.getItem("theme")
				);
		</script>
		<script>
			import { themeChange } from 'theme-change';
			themeChange();
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>arthurs.dev</title>
	</head>
	<body class="relative font-sans">
		<slot />
	</body>
</html>