---
import '../styles/globals.css'
---

<!doctype html>
<html data-theme="dark" lang="en">
	<head>

		<script is:inline>
			// This script prevents the FART effect.
			if (localStorage.getItem("theme") === null) {
				document.documentElement.setAttribute("data-theme", "light");
			} else
				theme = localStorage.getItem("theme")
				document.documentElement.setAttribute("data-theme", theme);
				if (theme === "dark") document.documentElement.classList.add("dark");
		</script>
		<script>
			import { themeChange } from 'theme-change';
			themeChange();

			const root = document.documentElement;

			// Observes daisyUIs "data-theme" to add a corresponding class="dark" for tailwind to use
			const observer = new MutationObserver(() => {
				const t = root.getAttribute("data-theme");
				if (t === "dark") root.classList.add("dark");
				else root.classList.remove("dark");
			});

			observer.observe(root, {
				attributes: true,
				attributeFilter: ["data-theme"],
			});
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>arthurs.dev</title>
	</head>
	<body class="relative font-sans">
		<slot />
	</body>
</html>